<!DOCTYPE html>
<html>
<head>
	<meta charset=utf-8>
	<script type="text/javascript" src = "/javascripts/socket.io.min.js"></script>
	<script type="text/javascr" src = "/javascripts/jquery.js"></script>
	<title>factory</title>
</head>
<body>
<p>welcome to allen's factory!</p>
	<form class = "inputBox" method = "post" enctype = "mutipart/form-data" action = "/login"/>
		<p>name:<input type = "text" name = "username"/></p>
		<p>password:<input type = "text" name = "password"/></p>

		<input type = "submit" value = "submit"/>
	</form>
</body>
<script type = "text/javascript">
</script>
</html>
